body {
    margin: 0;
    background: url('../private_profile-background.png') fixed center;
    background-size: cover;
    width: 100%;

    height: auto;
    min-height: 100%;
}

img {
    object-fit: cover;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 30px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
}

p {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 16px;
}

button {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    height: 40px;
    width: 130px;
    background: transparent;
    border: 1px solid white;
    color: white;
    letter-spacing: 1px;
    transition: all 0.25s;
}

button:hover {
    background: sandybrown;
}

#home_button {
    position: absolute;
    left: 0;
    width: 15%;
}

#pro_pic {
    position: absolute;
    right: 30%;
    height: 38px;
    width: 38px;
    border: 1px solid white;
}

#account_button {
    position: absolute;
    right: 15%;
    width: 15%;
}

#logout_button {
    position: absolute;
    right: 0;
    width: 15%;
}

.grid {
    position: absolute;
    width: 100%;
    margin-left: -50%;
    margin-top: 0;
    left: 50%;
    top: 80px;

    background: transparent;
    display: grid;
    grid-template-columns: 0.1fr 1fr 0.05fr 1fr 0.1fr;
    grid-template-rows: 2fr 1fr 0.05fr;
}

.bio_form {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;

    border: 1px solid white;
    background-color: rgba(0, 0, 0, .5);
}

.photo_grid {
    background: transparent;
    display: grid;
    grid-template-rows: 0.1fr 0.1fr;
    justify-items: center;
}

#profile_picture {
    grid-row-start: 1;

    width: 200px;
    height: 200px;
    margin-top: 5%;
}

#change_btn {
    grid-row-start: 2;
}

.house_card {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: 5%;
    height: 80px;
}

.house_picture {
    width: 80px;
    height: 80px;
    left: 5%;
}

.profile_form {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;

    border: 1px solid white;
    background-color: rgba(0, 0, 0, .25);
}

#wrong_private_profile {
    position: relative;
    margin-top: 10px;
    margin-left: 5%;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    height: 40px;
    width: 90%;
    background: transparent;
    border: 1px solid white;
    color: white;
    letter-spacing: 1px;
    transition: all 0.25s;
    opacity: 1;
}

#wrong_private_profile:hover {
    background-color: sandybrown;
}


.slider_input {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin-left: 0;
    height: 16px;
}

#smoking_habits, #time_at_home, #pet_friendly, #past_experience, #ideal_week_end1, #ideal_week_end2, #eat_together, #do_sports, #house_parties, #invite_friends, #overnight_guests,
#play_music {
    margin-left: 5%;
    margin-top: 18px;
    opacity: 0.85;

    background-color: white;
}

#smoking_habits, #time_at_home, #pet_friendly, #past_experience, #ideal_week_end1, #ideal_week_end2, #eat_together, #do_sports, #house_parties, #invite_friends, #overnight_guests,
#play_music {
    -webkit-appearance: none;
}

#smoking_habits::-webkit-slider-thumb,
#time_at_home::-webkit-slider-thumb,
#past_experience::-webkit-slider-thumb,
#ideal_week_end1::-webkit-slider-thumb,
#ideal_week_end2::-webkit-slider-thumb,
#eat_together::-webkit-slider-thumb,
#do_sports::-webkit-slider-thumb,
#house_parties::-webkit-slider-thumb,
#invite_friends::-webkit-slider-thumb,
#pet_friendly::-webkit-slider-thumb,
#overnight_guests::-webkit-slider-thumb,
#play_music::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    background: sandybrown;
}

/* Bootstrap*/
label {
    font-family: "Oswald", sans-serif;
    display: block;
    margin-left: 5%;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 400;
    color: white;

    text-transform: uppercase;
}

input, textarea, #city {
    display: block;
    width: 90%;
    margin-left: 5%;
    padding: 5px;
    border: 0;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    opacity: 0.75;
    transition: all 0.25s;
}

textarea {
    height: 100px;
}

#languages {
    height: 60px;
}

input:hover, #city:hover {
    opacity: 1;
}

/* "#" identifies an element by variable name in python script: submit_button = SubmitField('Login')*/
#submit_button, #save_button, #change_button, #save_habits {
    position: relative;
    margin-top: 10px;

    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    height: 40px;
    width: 130px;
    background: transparent;
    border: 1px solid white;
    color: white;
    letter-spacing: 1px;
    transition: all 0.25s;
    opacity: 1;
}

#submit_button:hover, #save_button:hover, #change_button:hover, #save_habits:hover, #add_house_button:hover {
    background-color: sandybrown;
}

#add_house_button, #modify_button {
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 10px;
}

#search_button {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    height: 40px;
    background: transparent;
    border: 1px solid white;
    color: white;
    letter-spacing: 1px;
    transition: all 0.25s;
    opacity: 1;
}

#search_button:hover {
    background-color: sandybrown;
}

#search_button {
    position: absolute;
    left: 15%;
    width: 15%;
}

#logo_button {
    position: absolute;
    margin-left: -7.5%;
    left: 50%;
    width: 15%;

    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    height: 40px;
    background: transparent;
    border: 3px solid sandybrown;
    color: white;
    letter-spacing: 1px;
    transition: all 0.25s;
    opacity: 1;
    cursor: default;
}

#logo_button:hover {
    background: white;
    color: sandybrown;
}