body {
    margin: 0;
    background: url('../public_listing-background.png') fixed center;
    background-size: cover;

    width: 100%;
    height: 100%;
    position: relative;
    text-align: justify;
}

img {
    object-fit: cover;
}


h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 500;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 400;
}

p {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 16px;
    font-weight: 400;
}

label {
    font-family: "Oswald", sans-serif;
    display: block;
    margin-left: 5%;
    margin-top: 15px;
    font-size: 16px;
    font-weight: 400;
    color: white;

    text-transform: uppercase;
}

button {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    height: 40px;
    width: 130px;
    background: transparent;
    border: 1px solid white;
    color: white;
    letter-spacing: 1px;
    transition: all 0.25s;
}

button:hover {
    background: sandybrown;
}

#home_button {
    position: absolute;
    left: 0;
    width: 15%;
}

#pro_pic {
    position: absolute;
    right: 30%;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    box-sizing: border-box;
}

#account_button {
    position: absolute;
    right: 15%;
    width: 15%;
}

#login_button, #logout_button {
    position: absolute;
    right: 0;
    width: 15%;
}

.container {
    display: grid;
    position: absolute;
    width: 100%;
    margin-left: -50%;
    margin-top: 0;
    left: 50%;
    top: 80px;

    background: transparent;
    grid-template-rows: 2fr 2fr 0.05fr;
    grid-template-columns: 0.1fr 1.25fr 0.05fr 0.75fr 0.1fr;
}

.listing-container {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;

    border: 1px solid white;
    background-color: rgba(0, 0, 0, .5);

    flex-direction: column;
    display: grid;
}

.listing {
    display: flex;
    flex-direction: column;
}


.listing .listing--header {
    min-height: 150px;
    width: 100%;
    overflow: hidden;
    max-height: 500px;
}

.listing .listing--header img {
    max-width: 100%;
}

.slideshow_image {
    width: 100%;
    height: 500px;
}

.listing .listing--title {
    font-size: 24px;
    padding: 5px 0 3px;
    margin: 0;
    position: relative;

    text-align: center;
}

.listing .listing--title:after {
    position: relative;
    display: block;
    border-bottom: 1px solid white;
    content: " ";
    max-width: 100%;
    padding: 3px 0;
}


.listing--amens {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-bottom: 3%;
}


/* Slideshow container */
.slideshow-container {
    max-width: 1000px;
    height: 37%;
    position: relative;
    margin: auto;
}

/* Hide the images by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 95%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.25s ease;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}


.social-box {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;

    border: 1px solid white;
    background-color: rgba(0, 0, 0, .25);

    flex-direction: column;
    display: grid;

}

.social-box-grid {
    height: 100%;
    width: 100%;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 3fr;

}

.house-rules { /*this will give position and data regarding this block of the grid */
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    position: relative;
    left: 5%;
    width: 90%;
    color: white;

}

.house-bills { /*every info will have their block*/
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    position: relative;
    left: 5%;
    width: 90%;
    color: white;

}

.house-price { /*every info will have their block*/
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    position: relative;
    left: 5%;
    width: 90%;
    color: white;

}

.house-city { /*every info will have their block*/
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    position: relative;
    left: 5%;
    width: 90%;
    color: white;

}

.info_L {

    grid-column-start: 1;
    grid-column-end: 2;
    /*border: 1px solid white;*/
    display: flex;
    position: relative;


    width: 20%;
}

.info_I {
    grid-column-start: 2;
    grid-column-end: 3;
    /*border: 1px solid white;*/
    display: flex;
    position: relative;


    width: 80%;
}

.profile-card {
    position: relative;
    display: flex;
    top: 10px;
    left: 5%;
    width: 90%;
    height: auto;
    border: 1px solid white;
    opacity: 0.9;
}

.social-pics {
    width: 150px;
    height: 150px;
}

.user-information {
    display: block;
    position: relative;

    width: 70%;
}

#search_button {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    height: 40px;
    background: transparent;
    border: 1px solid white;
    color: white;
    letter-spacing: 1px;
    transition: all 0.25s;
    opacity: 1;
}

#search_button:hover {
    background-color: sandybrown;
}

#search_button {
    position: absolute;
    left: 15%;
    width: 15%;
}

#logo_button {
    position: absolute;
    margin-left: -7.5%;
    left: 50%;
    width: 15%;

    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    height: 40px;
    background: transparent;
    border: 3px solid sandybrown;
    color: white;
    letter-spacing: 1px;
    transition: all 0.25s;
    opacity: 1;
    cursor: default;
}

#logo_button:hover {
    background: white;
    color: sandybrown;
}