img {
    object-fit: cover;
}

body {
    margin: 0;
    background: url('../results-background.png') fixed center;
    background-size: cover;
    width: 100%;
    height: 100%;
    font-family: 'Oswald', sans-serif;
}

h1 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 30px;
}

h2 {
    font-family: 'Oswald', sans-serif;
    color: white;
    font-size: 16px;

}


p {
    font-family: 'Nunito', sans-serif;
    color: white;
    font-size: 16px;
}

button {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    height: 40px;
    width: 130px;
    background: rgba(0, 0, 0, .5);
    border: 1px solid white;
    color: white;
    letter-spacing: 1px;
    transition: all 0.25s;
}

#apply_filters {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    height: 40px;
    width: 130px;

    background: rgba(0, 0, 0, 0);
    border: 1px solid white;
    color: white;
    letter-spacing: 1px;
    transition: all 0.25s;
}

button:hover, #apply_filters:hover, #search_button:hover {
    background: sandybrown;
}

#home_button {
    position: absolute;
    left: 0;
    width: 15%;

    top: 0;
}

#search_button {
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    height: 40px;
    border: 1px solid white;
    color: white;
    letter-spacing: 1px;
    transition: all 0.25s;
    opacity: 1;

    position: absolute;
    left: 15%;
    width: 15%;

    top: 0;
}

#logo_button {
    position: absolute;
    margin-left: -7.5%;
    left: 50%;
    width: 15%;

    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    height: 40px;
    border: 3px solid sandybrown;
    color: white;
    letter-spacing: 1px;
    transition: all 0.25s;
    opacity: 1;
    cursor: default;

    top: 0;
}

#logo_button:hover {
    background: white;
    color: sandybrown;
}

#pro_pic {
    position: absolute;
    right: 30%;
    height: 38px;
    width: 38px;
    border: 1px solid white;

    top: 0;
}

#account_button {
    position: absolute;
    right: 15%;
    width: 15%;

    top: 0;
}

#login_button, #logout_button {
    position: absolute;
    right: 0;
    width: 15%;

    top: 0;
}

#the_box {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.download-card {
    min-height: 200px;

    display: flex;
    flex-direction: column;
    width: 82%;
    position: relative;
    overflow: hidden;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, .5);
    margin: 0 1em 2em 1em;

    left: 15%;
}

.download-card__icon-box {
    color: white;

    width: 40%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-right: 1px solid white;
}

.download-card__icon-box img {
    height: 100%;
    width: 100%;

    object-fit: cover;
}

.download-card__content-box {
    padding: 1em;
    margin-left: 40%;
}

.download-card__content-box__category {
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 10px;
    margin: 0 0 1em;
}

.download-card__content-box__category::before {
    content: '| ';
    color: sandybrown;
}

.download-card__content-box__title {
    line-height: 1;
    margin: 0 0 .5em;
    font-size: 18px;
}

.download-card__content-box__description {
    line-height: 1;
}

.listing--amens {
    color: white;
    font-size: 20px;
}

.download-card__content-box .button {
    color: sandybrown;
    font-size: 20px;
}

.filter_box {
    position: fixed;

    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
    width: 15%;
    background: rgba(0, 0, 0, .5);
    border: 1px solid white;
    color: white;
    letter-spacing: 1px;
    line-height: 30px;
}


#neighbourhood, #type {
    display: block;
    width: 90%;
    margin-left: 5%;
    padding: 5px;
    border: 0;
    border-radius: 0;
    font-family: "Oswald", sans-serif;
    font-size: 14px;
    opacity: 0.4;
    transition: all 0.1s;
}

#neighbourhood:hover, #type:hover {
    opacity: .9;
}