<head>
    <title>500</title>

    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type=“image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/500.css') }}">
</head>

<body>
<div class="bg-img">
    <div class="container">

        <h1 class="title">500</h1>
        <p>Oops, there was a problem with our server.</p>

        <a href="{{ url_for('home') }}">
            <button id="login_button">BACK TO HOMEPAGE</button>
        </a>

    </div>
</div>
</body>