<head>
    {% import "bootstrap/wtf.html" as wtf %}

    <title>Existing House</title>

    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type=“image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/existing.css') }}">
</head>

<body>
<div class="container">

    <label>Input the house secret code:</label>

    {% if error == 1 %}
        <div class="wrong_private_profile">
            <a>
                <button id="wrong_private_profile">INVALID INPUT</button>
            </a>
        </div>
    {% endif %}

    {{ wtf.quick_form(existing_house) }}

</div>
</body>