<head>
    {% import "bootstrap/wtf.html" as wtf %}

    <title>Habits</title>

    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type=“image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/habits.css') }}">
</head>

<body>
<div id="nav_bar">

    <a href="{{ url_for('home') }}">
        <button id="home_button">HOMEPAGE</button>
    </a>
    <a href="{{ url_for('s', filters="00000000") }}">
        <button id="search_button">SEARCH</button>
    </a>

    <a>
        <button id="logo_button">HOUSR</button>
    </a>

    <a href="{{ url_for('u', user_id=current_user.user_id) }}">
        <img id="pro_pic" src=" {{ url_for('send_image', filename=pro_pic) }}" alt="">
    </a>
    <a href="{{ url_for('personal_page') }}">
        <button id="account_button">ACCOUNT</button>
    </a>
    <a href="{{ url_for('logout') }}">
        <button id="logout_button">LOGOUT</button>
    </a>

</div>

<div class="container">

    <form method="post">

        <br>

        <label style="text-align: center; margin-left: 0;">Your habits</label>

        {{ habits_form.smoking_habits.label }}
        <div class="slider_input">
            <label>NO</label>
            {{ habits_form.smoking_habits(min=0, max=1, step=1, value=current_user.habits[0], oninput="outputUpdate(value)") }}
            <label>YES</label>
        </div>

        <br><br>

        {{ habits_form.past_experience.label }}
        <div class="slider_input">
            <label>NO</label>
            {{ habits_form.past_experience(min=0, max=1, step=1, value=current_user.habits[1], oninput="outputUpdate(value)") }}
            <label>YES</label>
        </div>

        <br><br>

        {{ habits_form.do_sports.label }}
        <div class="slider_input">
            <label>NO</label>
            {{ habits_form.do_sports(min=0, max=1, step=1, value=current_user.habits[2], oninput="outputUpdate(value)") }}
            <label>YES</label>
        </div>

        <br><br>

        {{ habits_form.pet_friendly.label }}
        <div class="slider_input">
            <label>NO</label>
            {{ habits_form.pet_friendly(min=0, max=1, step=1, value=current_user.habits[3], oninput="outputUpdate(value)") }}
            <label>YES</label>
        </div>

        <br><br><br><br>

        <label style="text-align: center; margin-left: 0;">Do you like</label>

        {{ habits_form.eat_together.label }}
        <div class="slider_input">
            <label>0</label>
            {{ habits_form.eat_together(min=0, max=9, step=1, value=current_user.habits[4], oninput="outputUpdate(value)") }}
            <label>10</label>
        </div>

        <br><br>

        {{ habits_form.ideal_week_end1.label }}
        <div class="slider_input">
            <label>0</label>
            {{ habits_form.ideal_week_end1(min=0, max=9, step=1, value=current_user.habits[5], oninput="outputUpdate(value)") }}
            <label>10</label>
        </div>

        <br><br>

        {{ habits_form.ideal_week_end2.label }}
        <div class="slider_input">
            <label>0</label>
            {{ habits_form.ideal_week_end2(min=0, max=9, step=1, value=current_user.habits[6], oninput="outputUpdate(value)") }}
            <label>10</label>
        </div>

        <br><br>

        {{ habits_form.house_parties.label }}
        <div class="slider_input">
            <label>0</label>
            {{ habits_form.house_parties(min=0, max=9, step=1, value=current_user.habits[7], oninput="outputUpdate(value)") }}
            <label>10</label>
        </div>

        <br><br><br><br>

        <label style="text-align: center; margin-left: 0;">Are you used to</label>

        {{ habits_form.invite_friends.label }}
        <div class="slider_input">
            <label>NO</label>
            {{ habits_form.invite_friends(min=0, max=1, step=1, value=current_user.habits[8], oninput="outputUpdate(value)") }}
            <label>YES</label>
        </div>

        <br><br>

        {{ habits_form.overnight_guests.label }}
        <div class="slider_input">
            <label>NO</label>
            {{ habits_form.overnight_guests(min=0, max=1, step=1, value=current_user.habits[9], oninput="outputUpdate(value)") }}
            <label>YES</label>
        </div>

        <br><br>

        {{ habits_form.play_music.label }}
        <div class="slider_input">
            <label>NO</label>
            {{ habits_form.play_music(min=0, max=1, step=1, value=current_user.habits[10], oninput="outputUpdate(value)") }}
            <label>YES</label>
        </div>

        <br><br>

        {{ habits_form.time_at_home.label }}
        <div class="slider_input">
            <label>NO</label>
            {{ habits_form.time_at_home(min=0, max=1, step=1, value=current_user.habits[11], oninput="outputUpdate(value)") }}
            <label>YES</label>
        </div>

        {{ habits_form.save_habits() }}
    </form>

</div>
</body>