<head>
    {% import "bootstrap/wtf.html" as wtf %}

    <title>Login and Registration</title>

    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type=“image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login_registration.css') }}">
</head>

<body>

<div class="background">

    <div id="nav_bar">

        <a href="{{ url_for('home') }}">
            <button id="home_button">HOMEPAGE</button>
        </a>
        <a href="{{ url_for('s', filters="00000000") }}">
            <button id="search_button">SEARCH</button>
        </a>

        <a>
            <button id="logo_button">HOUSR</button>
        </a>

    </div>


    <div class="grid">

        <div class="login_form">
            <label>LOGIN</label>

            {% if error == 1 %}
                <div class="wrong_login_registration">
                    <a>
                        <button id="wrong_login_registration">WRONG EMAIL/PASSWORD</button>
                    </a>
                </div>
            {% endif %}

            {{ wtf.quick_form(login_form) }}
        </div>

        <div class="registration_form">
            <label>REGISTRATION</label>

            {% if error == 2 %}
                <div class="wrong_login_registration">
                    <a>
                        <button id="wrong_login_registration">USER ALREADY REGISTERED</button>
                    </a>
                </div>
            {% endif %}

            {% if error == 3 %}
                <div class="wrong_login_registration">
                    <a>
                        <button id="wrong_login_registration">PASSWORDS DO NOT MATCH</button>
                    </a>
                </div>
            {% endif %}

            {{ wtf.quick_form(registration_form) }}
        </div>

    </div>


</div>

</body>
