<head>
    {% import "bootstrap/wtf.html" as wtf %}

    <title>Calendar Availability</title>

    <link rel="icon" href="{{ url_for('static', filename = 'favicon.ico') }}" type=“image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Oswald:200,300,400,500,600,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,300,400,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/private_booking.css') }}">
</head>

<body>
<div id="nav_bar">

    <a href="{{ url_for('home') }}">
        <button id="home_button">HOMEPAGE</button>
    </a>
    <a href="{{ url_for('s', filters="00000000") }}">
        <button id="search_button">SEARCH</button>
    </a>

    <a>
        <button id="logo_button">HOUSR</button>
    </a>

    <a href="{{ url_for('u', user_id=current_user.user_id) }}">
        <img id="pro_pic" src=" {{ url_for('send_image', filename=pro_pic) }}" alt="">
    </a>
    <a href="{{ url_for('personal_page') }}">
        <button id="account_button">ACCOUNT</button>
    </a>
    <a href="{{ url_for('logout') }}">
        <button id="logout_button">LOGOUT</button>
    </a>

</div>

<div class="container">
    <label>MARK THE DAYS OF THIS MONTH YOU'RE AVAILABLE IN:</label>
    <br><br>

    {{ wtf.quick_form(calendar_availability ,horizontal_columns=('lg', 4, 10) ) }}

</div>
</body>